* { 
        margin: 0;
}
html, body {
   height:100%;
}

body {
  background-repeat: repeat;
  background-color:#91B585;
  background-position:center top;
  background-attachment: scroll;
  font-family: 'Agency FB', 'Arial';
  font-size: 25px;
  color: white;
}

h1 {
  color: white;
  font-size: 38px;
  text-align: center;
}

h2 {
  color: #003300;
  font-size: 28px;
  text-align: center;
}

li {
  list-style: none;
  text-indent: -1em;
}

li:hover {
  background-color: #91B585;
  color: white;
}

a {
  color: #919191;
}

a:hover {
  background-color: #91B585;
  color: white;
}

/*what is this?*/
.clearfooter {
height: 330px;
clear: both;
}

#bodyBlock{
  width: 800px;  
  position: absolute;
  left: 50%;
  height:90%;
  margin-top: 40px;
  margin-left: -400px;    
  border: 1px dashed green;
  padding: 10px 10px 30px 10px;
}

#navigationBlock{
  width: 200px;
  height: 90%;
  float: left;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  position: static;
  padding: 15px 0px -10px 10px;
  color:#91B585;
  background-color: white;
  font-size: 30px;
  text-align: center;
}      

#summaryBlock{
  float: right;
  width: 200px;
  height: 45%;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  position: static;
  padding: 10px 10px 10px 10px;
  background-color: white;
  text-align: center;
  color: #91B585;
}

#slider {
  /* Filler stuff for now */
  height: 300px;
  background-color: lightgray;
  border: 1px solid black;
  line-height: 300px;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
#header {
  /* Filler stuff for now */
  height: auto;
  /*line-height: 150px;*/
  background-color: lightgray;
  border: none;
  /*vertical-align: middle;*/
  text-align: center;
  font-size: 14px;
  color: black;
  font-weight: bold;
}
#content {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
}
#intro {
        text-align: center;
}

/*#push {
        margin: 150px;
}*/

#footer {
 /* Filler stuff for now */
  clear: both;
  position: relative;
  z-index: 10;
  height: 20px;
  margin-top: -20px;
  margin-left:20px;
  background-color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #91B585;
  padding:5px 5px 5px 5px;
}

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -150px;
}

#centerme {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

